

/*https://www.gradient-animator.com/*/

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.bc{
    background: linear-gradient(270deg, #d78b32, #d7b632, #c5d732, #92d732, #66d732, #32d738, #32d797, #32d6d7, #329bd7, #2e7fce);
    background-size: 2000% 2000%;

    -webkit-animation: AnimationName 40s ease infinite;
    -moz-animation: AnimationName 40s ease infinite;
    -o-animation: AnimationName 40s ease infinite;
    animation: AnimationName 40s ease infinite;
}