@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

html, body {
    height: 100%;
    margin: 0;
    font-size: 4vw;
    font-family: 'Bowlby One SC', cursive;
}

#code{
    font-size: 5vw;
}

.card-title{
    font-size: 3vw;
}

#body {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.btn-dark{
    width: 96%;
    margin: 2%;
    height: 12vh;
    font-size: 4vw;
}

#accueil{
    margin:10%;
    display:block;
    width: 80%;
}

#rejoindreUnePartie{
    display: none;
    width: 80%;
    margin:10%;
}

#creerUnePartie{
    display: none;
    margin:10%;
    width: 80%;
}

#game_info{
    margin-top: 2vh;
    display: none;
}

#spinner{
    horiz-align: center;
    vertical-align: center;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    display:none;
}

.input_txt{
    width: 96%;
    margin: 2%;
    height: 12vh;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    border: 2px solid #606A75;
    font-family: montserrat,Helvetica,arial,sans-serif;
    font-weight: bolder;
}

.input_txt:focus{
    border: 3px solid #343a40;
}

.left_arrow{
    position: absolute;
    width: 8%;
    top:3%;
    left:3%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.card-title{
    text-align: center;
}

.card{
    margin: 20px;
    horiz-align: center;
}

#contenu{
    display: inline;
}

.img_profile_menu{
    max-height: 15%;
    max-width: 15%;
    display: inline;
}

.file-select-button {
   color: #00b1ca;
   font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 10px;
}

.inputfile {
   display: none;
}

#code{
    display: none;
    margin-top:5vh;
    width: 100%;
    text-align: center;
}

.modal-body{
    font-size: 20px;
}

#btn_alert{
    font-size: 10px;
}