@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

html, body {
    height: 100%;
    margin: 0;
    font-size: 4vw;
    font-family: 'Bowlby One SC', cursive;
}

#body {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.btn-dark{
    width: 96%;
    margin: 2%;
    height: 150px;
}

#accueil{
    margin:10%;
    display:block;
    width: 80%;
}

#rejoindreUnePartie{
    display: none;
    width: 80%;
    margin:10%;
}

#creerUnePartie{
    display: none;
    margin:10%;
    width: 80%;
}

#game_info{
    display: none;
    margin-top: 10%;
}

.input_txt{
    width: 96%;
    margin: 2%;
    height: 100px;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    border: 2px solid #606A75;
    font-family: montserrat,Helvetica,arial,sans-serif;
    font-weight: bolder;
}

.input_txt:focus{
    border: 3px solid #343a40;
}

.left_arrow{
    position: absolute;
    width: 8%;
    top:3%;
    left:3%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.card-title{
    text-align: center;
}

.card{
    margin: 20px;
    horiz-align: center;
}

#contenu{
    display: inline;
}

.img_profile_menu{
    max-height: 15%;
    max-width: 15%;
    display: inline;
}

.file-select-button {
   color: #00b1ca;
   font-weight: bold;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 10px;
}

.inputfile {
   display: none;
}

#code{
    display: none;
    position: absolute;
    top:10px;
    width: 100%;
    text-align: center;
}


a {
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 3em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
    width: 160px;
    text-align: center;

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

a:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}